<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <ecoaching-on-pi-sidenav
      (closesidenav)="sidenav.close()"></ecoaching-on-pi-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <ecoaching-on-pi-header
      (sidenavToggle)="sidenav.toggle()"></ecoaching-on-pi-header>
    <main [@fadeInOut]>
      <!-- <div *ngFor=" let item of item$ |async">
        <h1>{{item.name}}</h1>
        <p>{{item.calories}}</p>
      </div> -->
      <router-outlet></router-outlet>

    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
